# Python related
__pycache__/
#.python-version
venv/
.env

# Data and project spceific ignores
data/
wiki-word2vec/
corenlp-swedish-depparse-model/
results/
stanford-corenlp-full*
stanford-corenlp-src/
stopwords.txt
maltparser-1.7.2/